<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button id="act" mat-button routerLink="/add-activity">+ Activity</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table mat-table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Object </th>
                    <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="information">
                    <th mat-header-cell *matHeaderCellDef><i class="material-icons">
                      comment
                    </i> Information </th>
                    <td mat-cell *matCellDef="let element"> {{element.information}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef><span class="material-icons">
                      calendar_month
                      </span> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.exchangeDate | date: 'dd/MM/yyyy HH:MM'}} </td>
                  </ng-container>
              
                    <!-- Position Column -->
                    <ng-container matColumnDef="leadname">
                      <th mat-header-cell *matHeaderCellDef><i class="material-icons">
                        person
                      </i> Lead </th>
                      <td mat-cell *matCellDef="let element"> {{element.lead.name}} {{element.lead.lastname}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="leadmail">
                      <th mat-header-cell *matHeaderCellDef><i class="material-icons">
                        mail
                      </i> E-mail Lead </th>
                      <td mat-cell *matCellDef="let element"> {{element.lead.email}} </td>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="leadTel">
                      <th mat-header-cell *matHeaderCellDef> <i class="material-icons">
                        contact_phone
                      </i> Lead number </th>
                      <td mat-cell *matCellDef="let element"> {{element.lead.phoneNumber1}} </td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="repname">
                      <th mat-header-cell *matHeaderCellDef> <i class="material-icons">
                        person
                      </i>Sales person </th>
                      <td mat-cell *matCellDef="let element"> {{element.repAct.name}} {{element.repAct.lastname}} </td>
                    </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
              
        </div></div></div>