

<div class="container">
    <div class="button-group">
        <button type="button" class="btn btn-primary" routerLink="/add-request"><i class="fa fa-plus"></i> Add Request</button>
        <button type="button" class="btn btn-success" routerLink="/rate-request"><i class="fa fa-star"></i> Rate Service</button>
    </div>
    <div class="card">
        <div class="card-header card-header-info" >
            <h4 class="card-title">Requests List</h4>
            <p class="card-category">Request</p>
        </div>
        <div class="card-content table-responsive table-full-width">
           
                <table mat-table [dataSource]="dataSource" MatSort>

                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef>Id Ticket</th>
                      <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef>Type Request</th>
                      <td mat-cell *matCellDef="let element">{{element.type}}</td>
                    </ng-container>
                  
                       <!-- Name Column -->
                       <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let element">{{element.description}}</td>
                      </ng-container>
          
                    <!-- Weight Column -->
                    <ng-container matColumnDef="CreationDate">
                      <th mat-header-cell *matHeaderCellDef>Create date</th>
                      <td mat-cell *matCellDef="let element">{{element.creationDate  | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="client">
                      <th mat-header-cell *matHeaderCellDef>Client</th>
                      <td mat-cell *matCellDef="let element">{{element.createdBy.name}}  {{element.createdBy.lastname }}</td>
                    </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="support">
                <th mat-header-cell *matHeaderCellDef>Responsable</th>
                <td mat-cell *matCellDef="let element">{{element.responsableTicket.name}} {{element.responsableTicket.lastname}}</td>
              </ng-container>
    
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef>Status</th>
                      <td mat-cell *matCellDef="let element">
                                
                        <span id="span" [ngClass]="{
                          'badge-warning': element.status === 'open',
                          'badge-success': element.status === 'Resolved',
                          'badge-danger': element.status === 'Escalated',
                          'badge-primary': element.status === 'In_progress'
                        }">
                        {{element.status}}
                      </span> 
                      </td>
                    </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row class="tr" *matRowDef="let row ; columns: displayedColumns;" (click)="selectedRow(row)"></tr>
            
            </table>
          
            <mat-paginator [pageSizeOptions]="[6, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>      
                
         
        </div>
    </div>
</div>


