
.container {
    padding-top: 100px;
}

.button-group {
    margin-bottom: 20px;
    text-align: right;
}

.btn-info {
    i.fa-plus {
    margin-right: 5px; 
    color: white; 
    }
}

.btn-primary {
    i.fa-star {
    margin-right: 9px; 
    color: white; 
    }
}

.button-group button {
    margin-right: 8px; // Adds space to the right of each button
  
    &:last-child {
      margin-right: 0; // Removes the margin for the last button to avoid extra space at the end
    }
  }
