.container {
    padding-top: 100px;
}

.button-group {
    margin-bottom: 20px;
    text-align: right;
}

.btn-info {
    i.fa-plus {
    margin-right: 5px; 
    color: white; 
    }
}

.btn-primary {
    i.fa-star {
    margin-right: 9px; 
    color: white; 
    }
}