table {
    width: 100%;
  }

  #act{
    background: green;
    color: white;
    font-weight: bold;
    margin: 5px;
  }

 h4{
  padding: 15px;
  }

  .tr:hover{
    cursor: pointer;
    background-color: rgb(255, 223, 127);
  }
  

  .input-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  .input-container2 div {
   
    margin: 0;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .input-container2 button {
    margin-left: 10px; /* Espace entre l'input et l'icône */
    font-size: 15px;
    background-color: beige;
    border-radius: 5px;
  }
  
  
  

 