<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <button id="act" mat-button routerLink="/detail-lead">+ Lead</button>
            <div class="col-md-12">
                <div class="card">
                  <div class="input-container2">
                    <div><h4 >List Of Leads</h4></div>
                    <button id="act"  [matMenuTriggerFor]="menu2">Actions <i class="material-icons">keyboard_arrow_down</i></button>
                           <mat-menu #menu2="matMenu">
                            <button mat-menu-item id="btn" (click)="openDialog()"><i class="material-icons">publish</i>Import</button>
                            <button mat-menu-item id="btn"><i class="material-icons" (click)="exportData()">download</i>Export</button>
                          </mat-menu>
                        </div>
                        
                    <div class="card-body">
                     
                         <div class="input-container">
                          <mat-form-field>
                            <mat-label>Search</mat-label>
                            <input id="search" matInput (keyup)="applyFilter($event)" placeholder="Ex. Lead" #input><i matSuffix class="material-icons">search</i>
                          </mat-form-field>
                          
                          <button id="menu" mat-button [matMenuTriggerFor]="menu"><i class="material-icons">filter_alt</i></button>
                           <mat-menu #menu="matMenu" >
                            <button mat-menu-item (click)=" clearFilters()">All</button>
                            <button mat-menu-item (click)="filtreStatus('En_attente','status')">Pending</button>
                            <button mat-menu-item (click)="filtreStatus('Qualified','status')">Qualified</button>
                            <button mat-menu-item (click)="filtreStatus('Disqualified','status')">Disqualified</button>
                          </mat-menu>
                         </div>

                          <div class="table-responsive">   
                      

        <table mat-table [dataSource]="dataSource" MatSort>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Code lead</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
        
             <!-- Name Column -->
             <ng-container matColumnDef="last_name">
              <th mat-header-cell *matHeaderCellDef>Last Name</th>
              <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
            </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="phone_number1">
            <th mat-header-cell *matHeaderCellDef>Phone number</th>
            <td mat-cell *matCellDef="let element">{{element.phoneNumber1}}</td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="inscrip_date">
            <th mat-header-cell *matHeaderCellDef>creation date</th>
            <td mat-cell *matCellDef="let element">{{element.creationdate  | date: 'dd/MM/yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
                      
              <span id="span" [ngClass]="{
                'badge-success': element.status === 'Qualified',
                'badge-danger': element.status === 'Disqualified',
                'badge-primary': element.status !== 'Qualified' && element.status !== 'Disqualified'
              }">
              {{element.status}}
            </span> 
            </td>
          </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="tr" *matRowDef="let row ; columns: displayedColumns;" (click)="selectedRow(row)"></tr>
  
  </table>

  <mat-paginator [pageSizeOptions]="[6, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>

    
                    
                        </div>
                    </div>
                </div>
            </div>
  
          

        </div>
    </div>
</div>



  <ng-template #dialogContent>
    <p>Select your file</p>
    
    <mat-dialog-content>
      <input type="file" name="file" id="file">
       
    </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button >ok</button>
      </mat-dialog-actions>
  </ng-template>
