.main-content {
  margin-top: 200px; 
}


.card {
  height: 380px; 
  width: 600px; 
  margin: auto;
  display: block;
}

.form-group {
    .form-control {
      border: none; 
  
      &:focus {
        box-shadow: none; 
        outline: none; 
      }
    }
  }

  .btn-success {
    i.fa-plus {
    margin-right: 5px; 
    color: white; 
    font-size: 0.85em;
    }
}

