<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Rate Request Service</h4>
                    <p class="card-category">Request</p>
                </div>
                <div class="card-body">
                    <p style="text-align: right;">Rating Stars</p>
                    <div class="form-group">
                        <label for="commentInput">Comment</label>
                        <textarea class="form-control" id="commentInput" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
